<%= form_for @todo do |f| %>
<p>
    <%= f.text_field :title, placeholder: 'enter title' %>
    <% if @todo.errors.messages[:title].any? %>
    <span class="error"><%= @todo.errors.messages[:title][0] %></span>
    <% end %>
</p>
<p>
    <%= f.text_area :body, placeholder: 'enter body text' %>
    <% if @todo.errors.messages[:body].any? %>
    <span class="error"><%= @todo.errors.messages[:body][0] %></span>
    <% end %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>