<h2><%= @todo.title %></h2>
<p><%= simple_format @todo.body %></p>

<h3>Comments</h3>
<% if @todo.comments.any? %>
<ul>
<% @todo.comments.each do |comment| %>
<li>
    <%= comment.body %>
    <%= link_to '[×]',
    todo_comment_path(@todo, comment),
    method: :delete,
    class: 'command',
    data: {confirm: 'Sure?' } %>
</li>
<% end %>
</ul>
<% end %>
<%= form_for ([@todo, @todo.comments.build]) do |f| %>
<p>
    <%= f.text_field :body %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>